footer{
    .navbar-footer{
        display: flex;
        background-color: #F7941E;   
        justify-content: space-evenly;
        flex-wrap: wrap; 
        width: 100%;
        .navbar-footer-redes{
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            gap: 50px;
            flex-wrap: wrap;
            padding: 20px;

            li:hover{
                transform: scale(1.2);
            }
            
           
        }
    }
}