@media(max-width:1440px){
    
    header{
        nav{
            ul{
                li{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between; 
                    width: 200px;
                    margin-left: 50px;
                }
                   
            }        
        }
    }
    
        
    .row1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);   
        
        .voltex:hover{
            transform: scale(0.9);
        }
    
        .toogi:hover{
            transform: scale(0.9);
        }
    
        .ameba:hover{
            transform: scale(0.9);
        }
    
        .asimetrico:hover{
            transform: scale(0.9);
        }
    
        .luna:hover{
            transform: scale(0.9);
        }
    
        .hops:hover{
            transform: scale(0.9);
        }
    
        .imobi:hover{
            transform: scale(0.9);
        }
    
        .elegance:hover{
            transform: scale(0.9);
        }
    
        .imod:hover{
            transform: scale(0.9);
        }
        
    }

    .diseno-interior-ppal{
        h1{
            text-align: center;
            font-family: Helvetica;
            color: #F7941E;
            padding-left: 20px;
            padding-top: 50px;
            padding-bottom: 50px;
            font-size: 25px;
        }
        .diseno-interior{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            img{
                align-items: center;
                width: 100%;
                padding-right: 30px;
            }
            p{
                text-align: center;
                font-family: Helvetica;
                color: gray;
                font-size: 25px;
                padding-right: 0px;
                padding-top: 30px;
            }
    
        }
    
    }
    
    .diseno-producto-ppal{
        h1{
            text-align: center;
            font-family: Helvetica;
            color: #F7941E;
            padding-left: 20px;
            padding-top: 100px;
            padding-bottom: 50px;
            font-size: 25px;
        }
        .diseno-producto{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            img{
                align-items: center;
                width: 100%;
                padding-right: 30px;
            }
            p{
                text-align: center;
                font-family: Helvetica;
                color: gray;
                font-size: 25px;
                padding-right: 0px;
                padding-top: 30px;
            }
        }
    
    }
    
    .servicio-render-ppal{
        h1{
            text-align: center;
            font-family: Helvetica;
            color: #F7941E;
            padding-left: 20px;
            padding-top: 100px;
            padding-bottom: 50px;
            font-size: 25px;
        }
        .render{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            img{
                align-items: center;
                width: 100%;
                padding-right: 30px;
            }
            p{
                text-align: center;
                font-family: Helvetica;
                color: gray;
                font-size: 25px;
                padding-right: 0px;
                padding-top: 2px;
                padding-bottom: 80px;
            }
        }
    
    }

    .contacto-cuerpo{
        display: flex;
        flex-direction: row;
    
        .h1-h2-contacto{
            font-family: Helvetica;
            color: #F7941E;
            font-size: 43px;
            padding: 80px;
            padding-left: 100px;
            padding-top: 280px;
            padding-bottom: 312px;
            width: 850px;
        }
        h1{
            padding-left: 20px;
            width: 800px;
        }
        h2{
            padding-left: 180px;
        }
    
        .formulario{
            display: flex;
            flex-direction: row;
            font-family: Helvetica;
            color: rgb(128, 128, 128);
            padding: 120px;
            padding-left: 80px;
            padding-top: 280px; 
            width: 100%;
    
            form{
                label{
                    input{
                        padding: 10px;
                        font-family: Helvetica;
                        font-size: 25px;
                        width: 400px;
                        
                    }
                }
                
                
            }
                               
            
        }
    }
    

}

