@media(max-width:375px){
    
    header{
        nav{
            flex-direction: column;
            align-items: center;
            width: 375px;
            ul{
                flex-direction: column;
                align-items: center;  
                gap: 20px;
                margin-top: 20px;  
                margin-bottom: 20px;    
                                   
            }        
        }
    }

    .frase{
        flex-direction: column;
        align-items: center;  
        h2{
            flex-direction: column;
            align-items: center;  
        }
    }
    
        
    .row1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);  
         
        .voltex{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left: -33%;
        }
    
        .toogi{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left: -33%;
        }
    
        .ameba{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left: -33%;
        }
    
        .asimetrico{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left: -33%;
        }
    
        .luna{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left:-33%;
        }
    
        .hops{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left:-33%;
        }
    
        .imobi{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left:-33%;
        }
    
        .elegance{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left:-33%;
        }
    
        .imod{
            display: grid;
            margin-left: 1px;
            width: 375px;
            margin-left:-33%;
        }        
    }

    .contacto-cuerpo{
        display: flex;
        flex-direction: column;
    
        .h1-h2-contacto{
            font-family: Helvetica;
            color: #F7941E;
            padding: 80px;
            padding-left: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
            width: 100%;
        }
        h1{
            font-size: 50px;
            padding-left: 30px;
            width: 100%;
        }
        h2{
            font-size: 50px;
            padding-left: 20px;
        }
    
        .formulario{
            display: flex;
            flex-direction: column;
            font-family: Helvetica;
            color: rgb(128, 128, 128);
            padding-left: 10px;
            padding-top: 10px; 
            width: 80px;
    
            form{
                label{
                    input{
                        padding: 10px;
                        font-family: Helvetica;
                        font-size: 20px;
                        width: 350px;
                        
                    }
                }
                
                
            }
                               
            
        }
    }

}